.button{
 
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        width: 150px;
        height: 40px;
        border-radius: 9999px;
        background-color: transparent;
        border: 1px solid #1D9BF0;
        margin: 0 auto;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 14px;
    
        transition: all 0.3s linear;
    
    
}

.create-user{
        position: absolute;
        bottom: 10px;
        right: 10px;
}

.btn-del-out-table{
      position: absolute;
      top: 16px;
      right: 4px;

}