.menu-item{
   
    border-radius: 9999px;
    transition: all 0.3s linear;
}

.item{
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 100%;
    margin: 12px;
   
}

