.sidebar{
    width: 200px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    border-right:1px solid #ccc 
}

.title-dashboard{
    font-size: 32px;
}
